# Step 1: Import pandas as pd

In [59]:
import pandas as pd
census = pd.read_csv('census_data.csv')
census.head()

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country,income_bracket
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [60]:
census['income_bracket'].unique()

array([' <=50K', ' >50K'], dtype=object)

In [61]:
def label_fix(label):
    if label == ' <=50K':
        return 0
    else:
        return 1

In [62]:
# can be able to do the fucntion above using lambda as well

In [63]:
census['income_bracket'] = census['income_bracket'].apply(label_fix)

In [64]:
census.head()

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country,income_bracket
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,0
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,0
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,0
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,0
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,0

# Step 2 : Perfrom train/test  Split

In [65]:
X = census.drop('income_bracket',axis=1)
y = census['income_bracket']
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=101)

# Step 3: Create Feature Columns

In [66]:
census.columns

Index(['age', 'workclass', 'education', 'education_num', 'marital_status',
       'occupation', 'relationship', 'race', 'gender', 'capital_gain',
       'capital_loss', 'hours_per_week', 'native_country', 'income_bracket'],
      dtype='object')

In [67]:
import tensorflow as tf

In [68]:
# Create Feature Column for Categorical columns

In [69]:
gender = tf.feature_column.categorical_column_with_vocabulary_list("gender", ["Female", "Male"])
occupation = tf.feature_column.categorical_column_with_hash_bucket("occupation", hash_bucket_size=1000)
marital_status = tf.feature_column.categorical_column_with_hash_bucket("marital_status", hash_bucket_size=1000)
relationship = tf.feature_column.categorical_column_with_hash_bucket("relationship", hash_bucket_size=1000)
education = tf.feature_column.categorical_column_with_hash_bucket("education", hash_bucket_size=1000)
workclass = tf.feature_column.categorical_column_with_hash_bucket("workclass", hash_bucket_size=1000)
native_country = tf.feature_column.categorical_column_with_hash_bucket("native_country", hash_bucket_size=1000)

In [70]:
# Create Feature Column for Numeric columns

In [71]:
age = tf.feature_column.numeric_column("age")
education_num = tf.feature_column.numeric_column("education_num")
capital_gain = tf.feature_column.numeric_column("capital_gain")
capital_loss = tf.feature_column.numeric_column("capital_loss")
hours_per_week = tf.feature_column.numeric_column("hours_per_week")

In [72]:
feat_cols = [gender,occupation,marital_status,relationship,education,workclass,native_country,
            age,education_num,capital_gain,capital_loss,hours_per_week]

# Step 4: Create Input Function

In [73]:
input_func = tf.estimator.inputs.pandas_input_fn(x= X_train,
                                                y=y_train, 
                                                batch_size=100,
                                                num_epochs=None,
                                                shuffle=True)

# Step 5 : Create Model

In [74]:
model = tf.estimator.LinearClassifier(feature_columns=feat_cols)

INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: C:\Users\DHINAG~1.A\AppData\Local\Temp\tmpa1or2y5z
INFO:tensorflow:Using config: {'_model_dir': 'C:\\Users\\DHINAG~1.A\\AppData\\Local\\Temp\\tmpa1or2y5z', '_tf_random_seed': None, '_save_summary_steps': 100, '_save_checkpoints_steps': None, '_save_checkpoints_secs': 600, '_session_config': allow_soft_placement: true
graph_options {
  rewrite_options {
    meta_optimizer_iterations: ONE
  }
}
, '_keep_checkpoint_max': 5, '_keep_checkpoint_every_n_hours': 10000, '_log_step_count_steps': 100, '_train_distribute': None, '_device_fn': None, '_protocol': None, '_eval_distribute': None, '_experimental_distribute': None, '_service': None, '_cluster_spec': <tensorflow.python.training.server_lib.ClusterSpec object at 0x000001F61A121CF8>, '_task_type': 'worker', '_task_id': 0, '_global_id_in_cluster': 0, '_master': '', '_evaluation_master': '', '_is_chief': True, '_num_ps_replicas': 0, '_num_worker_replicas': 1}

# Step 6: Train the Model

In [75]:
model.train(input_fn=input_func,steps=5000)

INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
INFO:tensorflow:Saving checkpoints for 0 into C:\Users\DHINAG~1.A\AppData\Local\Temp\tmpa1or2y5z\model.ckpt.
INFO:tensorflow:loss = 69.31474, step = 1
INFO:tensorflow:global_step/sec: 117.005
INFO:tensorflow:loss = 269.32382, step = 101 (0.859 sec)
INFO:tensorflow:global_step/sec: 289.052
INFO:tensorflow:loss = 219.28726, step = 201 (0.342 sec)
INFO:tensorflow:global_step/sec: 282.896
INFO:tensorflow:loss = 770.6892, step = 301 (0.353 sec)
INFO:tensorflow:global_step/sec: 288.524
INFO:tensorflow:loss = 253.47507, step = 401 (0.351 sec)
INFO:tensorflow:global_step/sec: 283.987
INFO:tensorflow:loss = 438.97827, step = 501 (0.352 sec)
INFO:tensorflow:global_step/sec: 282.737
INFO:tensorflow:loss = 105.047966, step = 601 (0.355 sec)
INFO:tensorflow:global_step/sec: 285.897
INFO:tensorflow:loss = 523.99084, step = 701 (0.345 sec)
INFO:tensorflow:global_step/sec: 287.835
INFO:tensorflow:loss = 66.05227, step = 801 (0.347 sec)
INFO:tensorflow:global_step/sec: 282.601
INFO:tensorflow:loss = 105.11098, step = 901 (0.354 sec)
INFO:tensorflow:global_step/sec: 286.986
INFO:tensorflow:loss = 337.486, step = 1001 (0.352 sec)
INFO:tensorflow:global_step/sec: 285.092
INFO:tensorflow:loss = 32.14895, step = 1101 (0.350 sec)
INFO:tensorflow:global_step/sec: 282.458
INFO:tensorflow:loss = 48.396698, step = 1201 (0.354 sec)
INFO:tensorflow:global_step/sec: 288.242
INFO:tensorflow:loss = 119.47151, step = 1301 (0.345 sec)
INFO:tensorflow:global_step/sec: 263.557
INFO:tensorflow:loss = 93.40034, step = 1401 (0.383 sec)
INFO:tensorflow:global_step/sec: 259.841
INFO:tensorflow:loss = 78.4545, step = 1501 (0.385 sec)
INFO:tensorflow:global_step/sec: 274.435
INFO:tensorflow:loss = 133.126, step = 1601 (0.364 sec)
INFO:tensorflow:global_step/sec: 262.314
INFO:tensorflow:loss = 52.96918, step = 1701 (0.380 sec)
INFO:tensorflow:global_step/sec: 272.691
INFO:tensorflow:loss = 78.13898, step = 1801 (0.368 sec)
INFO:tensorflow:global_step/sec: 259.707
INFO:tensorflow:loss = 90.35107, step = 1901 (0.390 sec)
INFO:tensorflow:global_step/sec: 257.325
INFO:tensorflow:loss = 44.999798, step = 2001 (0.383 sec)
INFO:tensorflow:global_step/sec: 269.21
INFO:tensorflow:loss = 232.6531, step = 2101 (0.371 sec)
INFO:tensorflow:global_step/sec: 261.374
INFO:tensorflow:loss = 41.699528, step = 2201 (0.384 sec)
INFO:tensorflow:global_step/sec: 259.915
INFO:tensorflow:loss = 55.027954, step = 2301 (0.380 sec)
INFO:tensorflow:global_step/sec: 273.306
INFO:tensorflow:loss = 127.535324, step = 2401 (0.366 sec)
INFO:tensorflow:global_step/sec: 282.398
INFO:tensorflow:loss = 98.539444, step = 2501 (0.370 sec)
INFO:tensorflow:global_step/sec: 266.031
INFO:tensorflow:loss = 51.428936, step = 2601 (0.364 sec)
INFO:tensorflow:global_step/sec: 277.732
INFO:tensorflow:loss = 24.821144, step = 2701 (0.360 sec)
INFO:tensorflow:global_step/sec: 282.438
INFO:tensorflow:loss = 193.52353, step = 2801 (0.354 sec)
INFO:tensorflow:global_step/sec: 278.726
INFO:tensorflow:loss = 48.392235, step = 2901 (0.355 sec)
INFO:tensorflow:global_step/sec: 282.637
INFO:tensorflow:loss = 62.03827, step = 3001 (0.354 sec)
INFO:tensorflow:global_step/sec: 287.697
INFO:tensorflow:loss = 43.150063, step = 3101 (0.348 sec)
INFO:tensorflow:global_step/sec: 282.349
INFO:tensorflow:loss = 107.08329, step = 3201 (0.358 sec)
INFO:tensorflow:global_step/sec: 284.124
INFO:tensorflow:loss = 32.27327, step = 3301 (0.352 sec)
INFO:tensorflow:global_step/sec: 280.019
INFO:tensorflow:loss = 38.60365, step = 3401 (0.357 sec)
INFO:tensorflow:global_step/sec: 294.567
INFO:tensorflow:loss = 32.73037, step = 3501 (0.335 sec)
INFO:tensorflow:global_step/sec: 263.935
INFO:tensorflow:loss = 46.27311, step = 3601 (0.384 sec)
INFO:tensorflow:global_step/sec: 282.845
INFO:tensorflow:loss = 129.57538, step = 3701 (0.367 sec)
INFO:tensorflow:global_step/sec: 244.173
INFO:tensorflow:loss = 37.695175, step = 3801 (0.396 sec)
INFO:tensorflow:global_step/sec: 241.936
INFO:tensorflow:loss = 83.98093, step = 3901 (0.408 sec)
INFO:tensorflow:global_step/sec: 197.197
INFO:tensorflow:loss = 99.78576, step = 4001 (0.514 sec)
INFO:tensorflow:global_step/sec: 208.932
INFO:tensorflow:loss = 65.557945, step = 4101 (0.478 sec)
INFO:tensorflow:global_step/sec: 231.157
INFO:tensorflow:loss = 26.490086, step = 4201 (0.430 sec)
INFO:tensorflow:global_step/sec: 249.571
INFO:tensorflow:loss = 43.348503, step = 4301 (0.403 sec)
INFO:tensorflow:global_step/sec: 274.145
INFO:tensorflow:loss = 33.965385, step = 4401 (0.360 sec)
INFO:tensorflow:global_step/sec: 275.126
INFO:tensorflow:loss = 35.173744, step = 4501 (0.369 sec)
INFO:tensorflow:global_step/sec: 259.53
INFO:tensorflow:loss = 40.57344, step = 4601 (0.380 sec)
INFO:tensorflow:global_step/sec: 261.161
INFO:tensorflow:loss = 135.15723, step = 4701 (0.383 sec)
INFO:tensorflow:global_step/sec: 279.381
INFO:tensorflow:loss = 77.86084, step = 4801 (0.362 sec)
INFO:tensorflow:global_step/sec: 267.412
INFO:tensorflow:loss = 136.42499, step = 4901 (0.375 sec)
INFO:tensorflow:Saving checkpoints for 5000 into C:\Users\DHINAG~1.A\AppData\Local\Temp\tmpa1or2y5z\model.ckpt.
INFO:tensorflow:Loss for final step: 38.814293.

# Step 7 : Evaluate and Predictions

In [76]:
pred_fn = tf.estimator.inputs.pandas_input_fn(x=X_test,batch_size=len(X_test),shuffle=False)

In [77]:
pred_gen = model.predict(input_fn=pred_fn)

In [78]:
predictions = list(pred_gen)

INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Restoring parameters from C:\Users\DHINAG~1.A\AppData\Local\Temp\tmpa1or2y5z\model.ckpt-5000
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.

In [79]:
final_preds = []
for pred in predictions:
    final_preds.append(pred['class_ids'][0])

In [80]:
from sklearn.metrics import classification_report

In [81]:
print(classification_report(y_test,final_preds))

              precision    recall  f1-score   support

           0       0.90      0.90      0.90      8161
           1       0.69      0.68      0.68      2585

   micro avg       0.85      0.85      0.85     10746
   macro avg       0.79      0.79      0.79     10746
weighted avg       0.85      0.85      0.85     10746